.card-product {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 16px;
}

.card-product.today {
  box-shadow: 0 0 24px rgba(255, 0, 0, 0.8);
}

.card-product-image {
  height: 100%;
  min-width: 100px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-product-image p {
  color: white;
  font-weight: bolder;
  font-size: 24px;
  text-shadow: 0 0 8px rgba(0,0,0,1);
  margin: 0;
}

.card-product-infos h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-infos h2.key-day {
  color: red;
}

.card-product-infos p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  padding: 16px;
}
