@import url(card.css);

h1 {
  margin: 32px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1000px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}
